$myFont1: 'Open Sans', sans-serif, Helvetica;

$myFont2: 'Roboto', sans-serif;

$tarjetaHeight: 292px;

$tarjetaWidth: 250px;

$colorPpal: #5CD0E2;

$colorSec: #A97132;

$colorMedio1: #78DEA3;

$colorMedio2: #CFB789;

$colorTexto: black;

